.page-container {
    margin-left: 290px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
        padding-top: 10px;
    }
}
.container ul {
    padding: 0px;
} 
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.breadcrumb {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.header-navigate h1 {
    font-weight: 500;
}
.header-navigate h5 {
    font-weight: 100;
}
.header-navigate .form  li:first-child {
    padding-bottom: 10px;
}
.header-navigate .form input {
    outline: none;
}
.header-navigate .form .btns {
    padding-left: 200px;
    
}
.header-navigate .form .btns input {
    padding: 5px 15px;
    border-radius: 3px;
    background: #78cccd;
    color: #fff;
    border: #78cccd;
}
@media only screen and (max-width: 768px) {
    .page-container {
        margin-left: 0px;
    }
    .header-navigate .form .btns {
        padding-left: 50px;
    }
}