.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
.p-relative {
    position: relative;
}
.p-ab {
    position: absolute;
}
.w100 {
    width: 100%;
}
.p-top30 {
    padding-top:30px ;
    padding-bottom: 20px;
}
.p-left20 {
    padding-left: 20px;
}
.page-width {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}
.w-100 {
    width:100%;
    height: 100%;
    object-fit: cover;
}
.text-center {
    text-align: center;
}