/* ====================================== */
/* ===========STYLE PAGE-CONTENT========= */
/* ====================================== */
#page-content {
    margin-left: 290px;
}
.menigame-banner .page-container {
    padding: 0px 30px;
}
#page-content .slick-dotted,
.slick-slider {
    margin-bottom: 0px;
}
.menigame-banner .page-row .page-col {
    width: 50%;
    padding-left: 20px;
}
.menigame-banner .page-row .page-col .banner-link {
    display: inline-block;
}
.banner-top .slick-arrow {
    display: none;
    left: 0px;
}
.banner-top .slick-dots {
    bottom: -2px;
}
.menigame-banner .banner-promotion-right img{
    width: 100%;
}
.gemini-featured-collection .featured-collection .section-heading {
    margin: 20px 0;
    text-align: center;
    overflow: hidden;
}
.gemini-featured-collection .heading-title .title {
    font-size: 32px;
    position: relative;
    font-family: Quicksand,sans-serif;
    font-weight: 700;
    padding-top: 0;
    margin: 0;
    padding-bottom: 0;
    font-weight: 700;
}
.gemini-featured-collection .heading-title .title a {
    color: inherit;
    padding-bottom: 5px;
}
.gemini-featured-collection .heading-title .title a:hover {
    color: #78cccd;;
}
.gemini-featured-collection .heading-title .line-title {
    position: relative;
    background: #fff;
    padding: 0 11px;
    color: #000;
    font-size: 8px;
}
.gemini-featured-collection .heading-title .line-title::after {
    background: #000;
    content: "";
    height: 1px;
    left: -200px;
    position: absolute;
    top: 5px;
    width: 430px;
    z-index: -1;
}

.page-width {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

/*  */
.banner-promotion-wrap {
    display: flex;
    flex-wrap: wrap;
}

.banner-promotion-left {
    flex: 0 0 50%;
}

.banner-promotion-right {
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap;
}

.banner-promotion-right .banner-item {
    flex: 0 0 50%;
    padding: 0 10px;
}

@media only screen and (max-width: 600px) {
    .banner-promotion-left {
        flex: 0 0 100%;
    }
    .banner-promotion-right {
        flex: 0 0 100%;
    }
    .banner-promotion-right .banner-item {
        flex: 0 0 100%;
        padding: 0 0px;
    }
}


/*  */
.featured-collection-products {
    display: flex;
    flex-wrap: wrap;
}

.featured-collection-products .product-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 5px;
    padding-bottom: 50px;
}
.featured-collection-products .product-item .product-item-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.featured-collection-products .product-item .product-item-image img {
    width: 100%;
    height: 100%;
}
.featured-collection-products .product-item .product-item-price {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    padding-top: 10px;
}

.featured-collection-products .product-item-image .watch-list {
    max-height: 70px;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    bottom:0px;
    left: 0px;
    right: 0px;
    transform: translate(0, 100%);
    transition: all .3s ease;
}
.featured-collection-products .product-item-image:hover .watch-list {
    transform: translate(0,0);
    transition: all 0.25s ease-in-out;
}
.featured-collection-products .product-item-image .watch-list .color-swatches li {
    padding: 1px;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding-right: 10px;
}
.featured-collection-products .product-item-image .watch-list .color-swatches {
    padding: 0px;
    padding-top: 3px;
    justify-content: center;
    margin: 0px;
}
.featured-collection-products .product-item-image .watch-list .color-swatches li img {
    max-height: 55px;
    width: 100%;
    display: block;
}
.featured-collection-products .product-item-image .watch-list .color-swatches li img:hover {
    box-shadow: 0 0 0 1px #e32124;
}
.gemini-imagetextoverlay .imagetext--image_text {
    padding:3rem 0;
}
#page-content .wrapper-news {
    padding:0px 30px;
}
.wrapper-news .title-news {
    position: relative;
    text-align: center;
    display: block;
    font-size: 24px;
    margin: 20px 0px;
}
.wrapper-news .title-news::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 100%;
    height: 2px;
    background: #161616;
}
.wrapper-news .title-news::after {
    content: "";
    position: absolute;
    left: 0;
    top: 16px;
    width: 100%;
    height: 1px;
    background: #161616;
}
.wrapper-news .title-news a {
    position: relative;
    z-index: 1;
    background: #fff;
    display: inline-block;
    padding: 0 5px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}
.wrapper-news .news-wrap .news-left .slick-arrow {
    display: none;
}
.wrapper-news .news-wrap .news-left .news-item {
    overflow: hidden;
}
.wrapper-news .news-wrap .news-left .item {
    height: 415px;
    position: relative;
}
.wrapper-news .news-wrap .news-left .item .pic-news {
    display: block;
    width: 100%;
    height: 100%;
}
.wrapper-news .news-wrap .news-left .item .content-news {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: rgba(255,255,255,.7);
}
.wrapper-news .news-wrap .news-left .item .content-news .item-title-news {
    background: #3ba1a2;
    padding: 2px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}
.wrapper-news .news-wrap .news-left .item .content-news .item-intro-news {
    display: block;
    width: 100%;
    color: inherit;
    text-transform: uppercase;
}
.wrapper-news .news-wrap .news-left .item .content-news .item-intro-news:hover {
    text-decoration: underline;
}
.wrapper-news .news-wrap .news-right .news-watch-much h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.wrapper-news .news-wrap .news-right .news-watch-much .item-news {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}
.wrapper-news .news-wrap .news-right .news-watch-much .item-news .wp-img {
   width: 30%;
    height: 80px;
}
.wrapper-news .news-wrap .news-right .news-watch-much .item-news .caption-news {
    width:70% ;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
}
.wrapper-news .news-wrap .news-right .news-watch-much .item-news .caption-news .title {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    font-weight: 500;
}
.wrapper-news .news-wrap .news-right .news-watch-much .item-news .caption-news .date {
    font-size: 11px;
    color: #666;
    display: block;
}
.wrapper-news .news-wrap .news-right .news-watch-much .item-news .caption-news .name-cate {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #3ba1a2;
    font-size: 11px;
    text-transform: uppercase;
}
.wrapper-news .view-more {
    text-align: center;
    padding: 20px 0px;
}
.wrapper-news .view-more a {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border: 1px solid #777;
    padding: 10px 15px;
}
.system_store .section-heading {
    margin: 20px 0;
    overflow: hidden;
    text-align: center;
}
.system_store .section-heading .heading-title {
    font-size: 32px;
    font-weight: 500;
}
.system_store .section-heading .line-title {
    position: relative;
    background: #fff;
    padding: 0 11px;
    z-index: 2;
    font-size: 8px;
}
.system_store .section-heading .line-title::after {
    background: #000;
    content: "";
    height: 1px;
    left: -200px;
    position: absolute;
    top: 5px;
    width: 430px;
    z-index: -1;
}
.system_store .footer-store img {
    width: 100%;
}
.system_store .footer-store .button-store {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    text-align: center;
}
.system_store .footer-store .button-store span {
    border: 3px solid #fff;
    padding: 10px 50px;
    font-size: 20pt;
    color: #000;
    display: inline-block;
    background-color: #ef9608;
    opacity: .7;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    #page-sidebar {
        display:block;
        position: fixed;
    }
    .wrapper-news .news-wrap .news-left {
        width: 66.66666667%;
        padding:0px 15px;
    }
    .wrapper-news .news-wrap .news-right {
        width: 33.66666%;
    }
}
@media only screen and (max-width: 768px) {
    #page-sidebar {
        display: none;
    }
    #page-content {
        margin-left: 0;
    }
    #page-content .list {
        min-height: 200px;
        padding: 0px;
    }
    .menigame-banner {
        padding: 0px;
    }
    .menigame-banner .page-container {
        padding: 0px;
    }
    .featured-collection-products .product-item {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
        padding: 5px;
    }
}
@media only screen and (max-width: 767px) {
    .wrapper-news .news-wrap .news-right .news-watch-much {
        display: none;
    }
    .wrapper-news .news-wrap .news-left {
        width: 100%;
    }
}
@media only screen and (max-width: 414px) {
    .featured-collection-products .product-item {
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
        padding: 5px;
    }
}
@media only screen and (max-width: 375px) {
    .page-width {
        padding: 0 10px;
    }
    .featured-collection-products .product-item {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px;
    }
}
@media (min-width: 320px) and (max-width: 479px) {
    .system_store .footer-store .button-store span {
        font-size: 15px;
    }
}
@media screen and (max-width: 325px) {
    .system_store .footer-store .button-store {
        top: 10%;
    }
}